/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* Intended just for the buttons in the hero banner */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  --ifm-button-size-multiplier: 1.6;
}

.leftButton {
  background-color: #4caf50;
  border-color: #4caf50;
}

.leftButton:hover {
  background-color: #388e3c;
}

.rightButton {
  border-color: #000;
}
